body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fdf6e3;
    color: #333;
}

h1 {
    font-size: 3rem;
    letter-spacing: 2px;
}
